* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header styling */
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}
.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header .nav-links {
  display: flex;
  gap: 20px;
}

.header .nav-links li a {
  color: #f9faf8;
  font-weight: 300;
}
/* header styling */
