* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header styling */
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}
.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header .nav-links {
  display: flex;
  gap: 20px;
}

.header .nav-links li a {
  color: #f9faf8;
  font-weight: 300;
}
/* header styling */
/* hero styling */
.hero {
  background-color: #1f2937;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 200px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -50px;
}
.hero .hero-text h1 {
  width: 400px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero .hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  width: 400px;
  line-height: 1.4;
}
.hero .hero-text button {
  margin-top: 10px;
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 7px 30px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.hero .hero-image {
  width: 600px;
  height: 250px;
  background-color: #6d747d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-image h3 {
  color: #e5e7eb;
  font-weight: 400;
}
/* hero styling */
/* info styling */
.info {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.info-text h1 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.info .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  margin-top: 80px;
  gap: 25px;
  text-align: center;
}
.info .cards .card {
  width: 200px;
  flex-shrink: 0;
}
.info .cards .card div {
  border: 4px solid #3882f6;
  height: 200px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.info .cards .card p {
  color: #4b5563;
  font-size: 18px;
  font-weight: 400;
}
/* info styling */
/* quote styling */
.quote {
  height: 500px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote .quote-text {
  width: 800px;
  display: flex;
  flex-direction: column;
  border-left: 3px solid #1f2937;
  border-bottom: 3px solid #1f2937;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.quote .quote-text h1 {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}
.quote .quote-text p {
  align-self: self-end;
  margin-top: -25px;
  color: #3882f6;
}
/* quote styling */
/* call to action styling */
.call-to-action {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-to-action .box {
  background-color: #3882f6;
  padding: 60px 90px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.call-to-action .box .box-text {
  color: #f9faf8;
}
.call-to-action .box .box-text p {
  font-weight: 300;
}
.call-to-action .box .button {
  margin-right: 30px;
}
.call-to-action .box .button button {
  margin-top: 10px;
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  padding: 7px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
/* call to action styling */
/* footer styling  */
.footer {
  background-color: #1f2937;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  font-size: 18px;
  color: #3882f6;
  padding: 5px 10px 5px 10px;
  border-left: 2px solid #3882f6;
  border-bottom: 2px solid #3882f6;
  border-bottom-left-radius: 8px;
}
/* footer styling  */
/* Done */
