* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header styling */
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}
.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header .nav-links {
  display: flex;
  gap: 20px;
}

.header .nav-links li a {
  color: #f9faf8;
  font-weight: 300;
}
/* header styling */
/* hero styling */
.hero {
  background-color: #1f2937;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 200px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -50px;
  display: flex;
}
.hero .hero-text h1 {
  width: 400px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero .hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  width: 400px;
  line-height: 1.4;
}
.hero .hero-text button {
  margin-top: 10px;
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 7px 30px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.hero .hero-image {
  width: 600px;
  height: 250px;
  background-color: #6d747d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-image h3 {
  color: #e5e7eb;
  font-weight: 400;
}
/* hero styling */
